<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../atomic-slide/atomic-slide.html">

<!--
Element providing solution to no problem in particular.

##### Example

    <atomic-preso></atomic-preso>

@element atomic-preso
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://bengfarrell.github.io/atomic-preso
-->
<polymer-element name="atomic-preso" attributes="notitle">

  <template>

    <link rel="stylesheet" href="atomic-preso.css" />

    <content>
        <span >{{slideIndex +1}} of {{slides.length}}</span> <span>{{wlanip}}</span>
        <atomic-slide id="slideviewer"></atomic-slide>
    </content>

  </template>

  <script>

    Polymer('atomic-preso', {
        /**
        * slide index
        *
        * @property slideIndex
        * @type int
        */
        slideIndex: 0,

        /**
         * slides
         *
         * @property slides
         * @type array
         */
        slides: [],

        /**
         * wlan IP
         *
         * @property ip address
         * @type string
         */
        wlanip: "",

        /**
         * ready
         *
         * @method ready
         */
        ready: function() {
            var remote = require('remote');
            this.loadDeck();
            this.loadSlide(remote.getGlobal('config').slide -1);

            var os = require( 'os' );
            var networkInterfaces = os.networkInterfaces( );
            this.wlanip = networkInterfaces.wlan0[0].address;
        },

        /**
         * load deck
         *
         * @method loadDeck
         */
        loadDeck: function() {
            var self = this;
            this.slides = [];
            var fs = require('fs');
            var manifest = JSON.parse(fs.readFileSync('./app/slides/manifest.json'));
            manifest.content.forEach( function(deck) {
                try {
                    var slds = JSON.parse(fs.readFileSync('./app/slides/' + deck.file));
                    self.slides = self.slides.concat(self.slides,  slds.slides )
                } catch(e) {
                    console.log('JSON Parsing error for ./app/slides/' + deck.file);
                    console.log(e.message);
                }
            });

            this.$.slideviewer.imgpath = manifest.baseImagePath;
        },

        /**
         * reload deck
         *
         * @method reloadDeck
         */
        reloadDeck: function() {
            this.loadDeck();
            this.loadSlide(this.slideIndex);
        },

        /**
         * next slide
         *
         * @method next slide
         * @return {int} index of slide
         */
        nextSlide: function(index) {
            this.slideIndex ++;
            if (this.slideIndex >= this.slides.length) {
                return this.slides.length-1;
            }
            this.loadSlide(this.slideIndex);
            return this.slideIndex;
        },

        /**
         * previous slide
         *
         * @method previous slide
         * @return {int} index of slide
         */
        previousSlide: function(index) {
            this.slideIndex --;
            if (this.slideIndex < 0) {
                return 0;
            }
            this.loadSlide(this.slideIndex);
            return this.slideIndex;
        },

        /**
        * load a slide by index
        *
        * @method loadSlide
        * @param {int} index of slide
        */
        loadSlide: function(index) {
            this.slideIndex = index;
            this.$.slideviewer.clear();
            var sld = this.slides[index];
            var self = this;

            if (sld.text) {
                sld.text.forEach( function(item) {
                    self.$.slideviewer.setText(item.html, item.region);
                });
            }

            if (sld.images) {
                sld.images.forEach( function(item) {
                    self.$.slideviewer.setImage(item.image, item.region);
                });
            }

            if (sld.background) {
                this.$.slideviewer.setBackgroundImage(sld.background);
            }
        }

    });

  </script>

</polymer-element>
