<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../atomic-slide/atomic-slide.html">

<!--
Element providing solution to no problem in particular.

##### Example

    <atomic-preso></atomic-preso>

@element atomic-preso
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://bengfarrell.github.io/atomic-preso
-->
<polymer-element name="atomic-preso" attributes="notitle">

  <template>

    <link rel="stylesheet" href="atomic-preso.css" />

    <content>
        <span >{{slideIndex +1}} of {{slides.length}}</span> <span>{{wlanip}}</span>
        <atomic-slide id="slideviewer"></atomic-slide>
    </content>

  </template>

  <script>

    Polymer('atomic-preso', {

        /**
         * slides path
         *
         * @property slidesPath
         * @type string
         */
        slidesPath: './app/slides/',

        /**
         * slide stats
         *
         * @property slide stats
         * @type object
         */
        slideStats: { slides: [] },

        /**
        * slide index
        *
        * @property slideIndex
        * @type int
        */
        slideIndex: 0,

        /**
         * last slide index
         *
         * @property lastSlideIndex
         * @type int
         */
        lastSlideIndex: 0,

        /**
         * slides
         *
         * @property slides
         * @type array
         */
        slides: [],

        /**
         * wlan IP
         *
         * @property ip address
         * @type string
         */
        wlanip: "",

        /**
         * ready
         *
         * @method ready
         */
        ready: function() {
            // load our slide stats file
            var fs = require('fs');
            if (fs.existsSync(this.slidesPath + 'stats.json')) {
                this.slideStats = JSON.parse(fs.readFileSync(this.slidesPath + 'stats.json'));
            }

            var remote = require('remote');
            this.loadDeck();

            var startSldIndex;
            if (remote.getGlobal('config').slide == "last" && this.slideStats.lastSlide) {
                startSldIndex = this.slideStats.lastSlide;
            } else {
                startSldIndex = remote.getGlobal('config').slide;
            }
            this.loadSlide(startSldIndex -1);

            var os = require( 'os' );
            var networkInterfaces = os.networkInterfaces( );
            //this.wlanip = networkInterfaces.wlan0[0].address;
        },

        /**
         * load deck
         *
         * @method loadDeck
         */
        loadDeck: function() {
            var self = this;
            this.slides = [];
            var fs = require('fs');
            var manifest = JSON.parse(fs.readFileSync(this.slidesPath + 'manifest.json'));
            manifest.content.forEach( function(deck) {
                try {
                    var slds = JSON.parse(fs.readFileSync(self.slidesPath + deck.file));
                    self.slides = self.slides.concat(slds.slides )
                } catch(e) {
                    console.log('JSON Parsing error for ' + self.slidesPath + deck.file);
                    console.log(e.message);
                }
            });

            this.$.slideviewer.imgpath = manifest.baseImagePath;
        },

        /**
         * reload deck
         *
         * @method reloadDeck
         */
        reloadDeck: function() {
            this.loadDeck();
            this.loadSlide(this.slideIndex);
        },

        /**
         * next slide
         *
         * @method next slide
         * @return {int} index of slide
         */
        nextSlide: function(index) {
            if (this.slideIndex +1 >= this.slides.length) {
                return this.slides.length-1;
            }
            this.lastSlideIndex = this.slideIndex;
            this.slideIndex ++;
            this.loadSlide(this.slideIndex);
            return this.slideIndex;
        },

        /**
         * previous slide
         *
         * @method previous slide
         * @return {int} index of slide
         */
        previousSlide: function(index) {
            if (this.slideIndex -1 < 0) {
                return 0;
            }

            this.lastSlideIndex = this.slideIndex;
            this.slideIndex --;
            this.loadSlide(this.slideIndex);
            return this.slideIndex;
        },

        /**
        * load a slide by index
        *
        * @method loadSlide
        * @param {int} index of slide
        */
        loadSlide: function(index) {
            this.recordSlide(this.lastSlideIndex, index);
            this.slideIndex = index;
            this.$.slideviewer.clear();
            var sld = this.slides[index];
            var self = this;

            if (sld.text) {
                sld.text.forEach( function(item) {
                    self.$.slideviewer.setText(item.html, item.region);
                });
            }

            if (sld.images) {
                sld.images.forEach( function(item) {
                    self.$.slideviewer.setImage(item.image, item.region);
                });
            }

            if (sld.background) {
                this.$.slideviewer.setBackgroundImage(sld.background, sld.backgroundProperties);
            }
        },

        /**
         * record slide
         *
         * @method recordSlide
         * @param {int} old index of slide
         * @param {int} new index of slide
         */
         recordSlide: function(oldindex, newindex) {
            var fs = require('fs');

            var oldslide;
            var newslide;

            this.slideStats.slides.forEach( function(sld) {
                if (sld.number == oldindex+1) { oldslide = sld; }
                if (sld.number == newindex+1) { newslide = sld; }
            });

            if (!oldslide && oldindex != 0) { oldslide = { number: oldindex+1 }; this.slideStats.slides.push( oldslide )};
            if (!newslide) { newslide = { number: newindex+1 }; this.slideStats.slides.push( newslide )};

            if (oldslide) {
                oldslide.endTime = new Date().getTime();
                if (oldslide.startTime) {
                    oldslide.duration = (oldslide.endTime - oldslide.startTime)/1000;
                }
            }

            if (newslide) {
                newslide.startTime = new Date().getTime();
            }
            this.slideStats.lastSlide = newindex +1;
            this.slideStats.totalSlides = this.slides.length;

            this.slideStats.slides.sort( function(a, b) {
               if (a.number < b.number) { return -1 }
               else { return 1; }
            });
            fs.writeFileSync(this.slidesPath + 'stats.json', JSON.stringify(this.slideStats, null, 2));
         }

    });

  </script>

</polymer-element>
