<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>atomic-preso Demo</title>

  <script src="../platform/platform.js"></script>
  <link rel="import" href="atomic-preso.html">

    <style>
        atomic-preso {
            width: 800px;
            height: 600px;
        }
    </style>

</head>
<body unresolved>

  <p>An `atomic-preso` looks like this:</p>

  <atomic-preso></atomic-preso>

</body>
</html>
