<link rel="import" href="../polymer/polymer.html">
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

<!--
Element providing solution to no problem in particular.

##### Example

    <atomic-slide></atomic-slide>

@element atomic-slide
@blurb Element providing solution to no problem in particular.
@status alpha
@homepage http://bengfarrell.github.io/atomic-slide
-->
<polymer-element name="atomic-slide" attributes="notitle">

  <template>

    <link rel="stylesheet" href="atomic-slide.css" />

    <content>
        <div id="background">
            <div id="header_txt" class="txtregion font-effect-3d"></div>
            <div id="footer_txt" class="txtregion"></div>
            <div id="left_txt" class="txtregion"></div>
            <div id="right_txt" class="txtregion"></div>

            <div id="center_img" class="imgregion"></div>
        </div>
    </content>

  </template>

  <script>

    Polymer('atomic-slide', {
        /**
         * text regions
         *
         * @property slides
         * @type array
         */
        txtRegions: [ 'header', 'footer', 'left', 'right' ],


        /**
         * image regions
         *
         * @property slides
         * @type array
         */
        imgRegions: [ 'center' ],

        ready: function() {
        },

        /**
        * The `task` method does no work at this time.
        *
        * @method set background image
        * @param {String} img
        */
        setBackgroundImage: function(img) {
            this.$.background.style.backgroundImage="url(" + img + ")";
        },

        /**
         * set image
         *
         * @method set image
         * @param {String} img
         * @param {String} named region
         */
        setImage: function(img, region ) {
            this.$[region + '_img'].style.backgroundImage = "url(" + img + ")";
        },

        /**
        * set text
        *
        * @method set text
        * @param {String} text
        * @param {String} named region
        */
        setText: function(text, region ) {
            this.$[region + '_txt'].innerHTML = text;
        },


        /**
         * clear slide
         *
         * @method clear
         */
         clear: function() {
            this.clearBackgroundImage();
            this.clearText();
            this.clearImages();
         },

        /**
         * clear text
         *
         * @method clear all text in regions
         */
        clearText: function() {
            var self = this;
            this.txtRegions.forEach( function(rg) {
                self.$[rg + '_txt'].innerHTML = "";
            });
        },

        /**
         * clear images
         *
         * @method clear all images in regions
         */
        clearImages: function() {
            var self = this;
            this.imgRegions.forEach( function(rg) {
                self.$[rg + '_img'].style.backgroundImage = null;
            });
        },

        /**
         * clear background image
         *
         * @method clear background image
         */
        clearBackgroundImage: function() {
            this.$.background.style.backgroundImage = null;
        }

    });

  </script>

</polymer-element>
